WebStore/Service References/ServicoCompras/ServicoGerenciadorCompras1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GerenciadorComprasWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GerenciadorComprasWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59243/ServicoGerenciadorCompras.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GerenciadorProdutosWCF" />
  <xs:complexType name="Pedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="Destinatario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GerenciadorProdutosWCF" minOccurs="0" name="Produtos" nillable="true" type="q1:ArrayOfProduto" />
      <xs:element minOccurs="0" name="Total" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pedido" nillable="true" type="tns:Pedido" />
</xs:schema>