GerenciadorComprasWCF/Service References/ServicoProdutos/ServicoGerenciadorProdutos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59253/ServicoGerenciadorProdutos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GerenciadorProdutosWCF" />
  <xs:element name="AdicionarProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GerenciadorProdutosWCF" minOccurs="0" name="value" nillable="true" type="q1:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarProdutoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GerenciadorProdutosWCF" minOccurs="0" name="value" nillable="true" type="q2:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarProdutoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GerenciadorProdutosWCF" minOccurs="0" name="value" nillable="true" type="q3:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverProdutoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterProdutos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterProdutosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GerenciadorProdutosWCF" minOccurs="0" name="ObterProdutosResult" nillable="true" type="q4:ArrayOfProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>